.container {
  border-radius: 10px;
  display: block;
  padding: 10px;
  max-width: 600px;
  background-color: rgba(174, 235, 143, 0.185);
  margin: 40px auto;
}

input {
  border-radius: 20px;
  border: 1px solid rgba(127, 129, 126, 0.185);
}

.row {
  font-size: 20px;
  font-weight: 400;
}
.sun {
  font-size: 20px;
}
hr {
  color: black;
  background-color: black;
  margin-bottom: 0px;
}
#update {
  font-size: 20px;
}
.shine {
  font-size: 55px;
  position: relative;
  top: -15px;
}
#number {
  font-size: 50px;
  position: relative;
  top: 2px;
}
#celcius {
  font-size: 20px;
  position: relative;
  top: -20px;
  left: -4px;
}
#fahrenheit {
  font-size: 20px;
  position: relative;
  top: -20px;
  left: -4px;
}
#stroke {
  font-size: 20px;
  position: relative;
  top: -21px;
  left: -3px;
}
.week {
  height: 130px;
  width: 80px;
  padding: 6px;
  text-align: center;
}
#city {
  font-size: 30px;
}
#current-button {
  padding: 4px 20px;
  border-radius: 6px;
  border: green;
  color: white;
  background: green;
}
#submit-input {
  background: rgb(214, 214, 45);
  padding: 4px 14px;
  border-radius: 6px;
}
#city-input {
  padding: 3px 20px;
  border-color: white;
  border-radius: 6px;
}
ul {
  list-style: none;
}
#link {
  margin: 40px auto;
  max-width: 600px;
  position: relative;
  top: -45px;
}
#icon {
  font-size: 50px;
}
form {
  margin-top: 8px;
}
