.container {
  border-radius: 10px;
  display: block;
  padding: 10px;
  max-width: 600px;
  background-color: rgba(123, 151, 109, 0.185);
  margin: 40px auto;
}
.row {
  font-size: 20px;
  font-weight: 400;
}
.sun {
  font-size: 20px;
}
hr {
  color: black;
  background-color: black;
  margin-bottom: 0px;
}
#update {
  font-size: 20px;
}
.shine {
  font-size: 55px;
  position: relative;
  top: -15px;
}
#number {
  font-size: 50px;
  position: relative;
  top: 2px;
}
#unit {
  font-size: 20px;
  position: relative;
  top: -20px;
  left: 1px;
}

#city {
  font-size: 30px;
}
#current-button {
  padding: 4px 20px;
  border-radius: 6px;
  border: green;
  color: white;
  background: green;
}
#submit-input {
  background: rgb(214, 214, 45);
  padding: 4px 20px;
  border-radius: 6px;
  border: rgb(214, 214, 45);
}
#city-input {
  padding: 3px 20px;
  border-color: white;
  border-radius: 6px;
}
ul {
  list-style: none;
  position: relative;
  top: 28px;
}
.section {
  position: relative;
  top: 15px;
}
#link {
  margin: 40px auto;
  max-width: 600px;
  position: relative;
  top: -45px;
}
#icon {
  font-size: 50px;
}
form {
  margin-top: 8px;
}
.section .active {
  cursor: default;
  color: #212529;
}
.section .active:hover {
  text-decoration: none;
}
#description {
  font-size: 20px;
}
.weather-forecast {
  margin-top: 12px;
  text-align: center;
  margin-bottom: 10px;
}
.weather-forecast-date {
  font-size: 18px;
}
.weather-forecast-temperature {
  font-size: 16px;
}
#forecast {
  margin-top: 0px;
}
